/* text field */
.textField {
  margin-bottom: 8px;
}

.textFieldLabel {
  display: block;
  margin-bottom: 4px;
}

.textFieldInput {
  display: block;
  width: 100%;
  height: 48px;
  padding: 4px 8px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.textFieldInput[type="search"]::-webkit-search-decoration,
.textFieldInput[type="search"]::-webkit-search-cancel-button,
.textFieldInput[type="search"]::-webkit-search-results-button,
.textFieldInput[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.textFieldInput::placeholder {
  color: #212529;
  opacity: 0.4;
}

.textFieldInput:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.textFieldInput:disabled,
.textFieldInput[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

/* with floating label */
.textFieldFloating {
  position: relative;
}

.textFieldFloating .textFieldLabel {
  height: 48px;
  line-height: 1.25;
  padding: 4px 8px;
}

.textFieldFloating .textFieldLabel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 14px 8px;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .15s ease-in-out, transform .15s ease-in-out;
}

.textFieldFloating .textFieldInput::-moz-placeholder {
  color: transparent;
}

.textFieldFloating .textFieldInput::placeholder {
  color: transparent;
}

.textFieldFloating .textFieldInput:focus,
.textFieldFloating .textFieldInput:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: .625rem;
}

.textFieldFloating .textFieldInput:focus~.textFieldLabel,
.textFieldFloating .textFieldInput:not(:placeholder-shown)~.textFieldLabel {
  opacity: .65;
  transform: scale(.85) translateY(-.75rem) translateX(.15rem);
}