/* text field */
.textField {
  margin-bottom: 8px;
}

.textFieldLabel {
  display: block;
  margin-bottom: 4px;
}

.textFieldInput {
  display: block;
  width: 100%;
  padding: 12px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #1a2935;
  background-color: #fff;
  background-clip: padding-box;
  border-width: 2px;
  border-style: solid;
  border-color: #e8e9ea;
  outline: none;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.textFieldInput[type="search"]::-webkit-search-decoration,
.textFieldInput[type="search"]::-webkit-search-cancel-button,
.textFieldInput[type="search"]::-webkit-search-results-button,
.textFieldInput[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.textFieldInput::placeholder {
  color: #212529;
  font-size: 14px;
  line-height: 1;
  opacity: 0.4;
}

.textFieldInput:focus {
  border-color: #3993ff;
  //color: #212529;
  //background-color: #fff;
  //border-color: #bdbdbd;
  //outline: 0;
}

.textFieldInput:disabled,
.textFieldInput[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

/* with floating label */
.textFieldFloating {
  position: relative;
}
