.gamePlayer {
  max-width: 10.4rem;
  width: 10.4rem;
}
.observer {
  .gamePlayerImg {
    border-color: #515050;
    &:before {
      content: '👀';
      font-size: 30px;
      position: absolute;
      display: flex;
      justify-content: center;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(113, 110, 110, 0.75);
      z-index: 1;
    }
  }
}
.showResult {
  &.active {
    .gamePlayerImg {
      border-color: #04BA69FF;
      &:before {
        content: '';
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(2, 62, 35, 0.44);
        z-index: 1;
      }
      span {
        z-index: 2;
        color: #04ba69;
        background: #ffffff;
        min-width: 25px;
        min-height: 25px;
        text-align: center;
        font-size: 14px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        padding: 3px;
      }
    }
  }
}

.gamePlayerPhoto {
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.active {
  .gamePlayerImg {
    border-color: #1A7BF2FF;
  }
}

.gamePlayerWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  max-width: 100%;
  -webkit-perspective: 10rem;
  perspective: 10rem;
  -webkit-perspective-origin: bottom;
  perspective-origin: bottom;
}
.gamePlayerImg {
  background: #e8e9ea;
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  font-weight: 700;
  border-radius: 0.6rem;
  border: 4px solid transparent;
  flex-shrink: 0;
  height: 6rem;
  width: 6rem;
  @media screen and (min-width: 920px) {
    border-radius: 0.8rem;
    height: 7rem;
    width: 7rem;
  }
}
.gamePlayerName {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  align-items: center;
  display: flex;
  display: -webkit-box;
  font-size: 1.4rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.1em;
  overflow: hidden;
  padding-top: 0.8rem;
  text-align: center;
  width: 8rem;
  @media screen and (min-width: 920px) {
    font-size: 1.8rem;
    padding-top: 0.8rem;
    width: auto;
  }
}
