@import '../../assets/styles/variabless';

.wrapper {
  padding: 32px;
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  margin-bottom: 24px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 18px;
  color: $primary;
}

.text {
  font-size: 14px;
}

.button {
  width: 333px;
}