@import '../../assets/styles/variabless';

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  gap: 24px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    row-gap: 24px;
    padding-bottom: 24px;
  }
}

.title {
  color: $primary;
}

