.header {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  grid-gap: 15px;
  box-sizing: border-box;
  @media screen and (max-width: 520px) {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  grid-gap: 20px;
  font-size: 22px;
  font-weight: 700;
  @media screen and (max-width: 520px) {
    max-width: 100%;
  }
}

.headerButtons {
  display: flex;
  align-items: center;
  grid-gap: 20px;
  max-width: 300px;
  width: 100%;
  @media screen and (max-width: 520px) {
    max-width: 100%;
  }
}

.logoutBtn {
  max-width: 200px;
}

.observerActionBtn {
  max-width: 200px;
}
