.sidebar {
  width: 240px;
  background: #4b4d70;
  flex-shrink: 0;
  position: relative;
  left: 0;
  z-index: 9999;
  transition: 0.5s all;
  @media screen and (max-width: 1024px) {
    position: fixed;
    left: -240px;
    top: 0;
    bottom: 0;
  }
}

.sidebarBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.active {
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: rgba(3, 20, 56, 0.6);
  cursor: pointer;
}