@import '../../../../assets/styles/variabless';

.wrapper {
  overflow: auto;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
}

.noFound {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 8;
  text-align: center;
}

.table {
  display: grid;
  border-collapse: collapse;
  position: relative;
  overflow-y: hidden;
  min-width: 100%;
  grid-template-columns:
  minmax(50px, 1fr)
  minmax(100px, 1.67fr)
  minmax(100px, 1.67fr)
  minmax(100px, 1.67fr)
  minmax(100px, 1.67fr)
  minmax(100px, 1.67fr)
  minmax(100px, 1.67fr);

  tr:nth-child(even) td {
    background: #f8f6ff;
  }

  thead,
  tbody,
  tr {
    display: contents;
    position: relative;
    &:hover > td:not(.noFound):not(.loader) {
      //cursor: pointer;
      //background: #4b4d70;
    }
  }

  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background: #535bf2;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
  }

  th:last-child {
    border: 0;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.action {
  display: flex;
  gap: 8px;
  & img:hover {
    cursor: pointer;
  }
}