.app {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 80px);
  background: #F1F3F4;
}

.content {
  margin: 24px;
  width: 100%;
  overflow: hidden;
}