.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 392px));
  column-gap: 160px;
  row-gap: 40px;

  @media screen and (max-width: 1050px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    column-gap: 24px;
    row-gap: 24px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button {
  background: #4b4d70;
  color: white;
  height: 48px;
  text-transform: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;

  &:hover {
    background: #535bf2;
  }
}